*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.stack_container{
    margin: 275px 35px auto 245px;
    position: absolute;
    /* width: 1596px; */
    height: 790px;
    background-color: #283046;
    border: 1px solid transparent;
    border-radius: 4px;
}
.top_row{
  height: 40px;
  width: 1100px;
  /* border: 2px solid white; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.head_bar{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show{
  margin: 7px;
}
.select_btn{
  width: 200px;
  text-align: left;
}
select option{
  color: black;
}
@media screen and (max-width: 425px) and (min-width : 0px) {
  .stack_container{
    position: relative;
    margin: 15px 0px 0px 0px;
    height: 790px;
    margin-left: 27px;
    background-color: #283046;
    border: 1px solid transparent;
    border-radius: 4px;
}
}

 /* modal box style */
 
.modal-container{
  width: 790px;
  /* height: 400px; */
  padding-bottom: 15px;
  margin-top: 300px;
  margin-left: 400px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #283046;
  display: inline-block !important;
 }
 
 .for_dialog{
   max-width: 100% !important;
 }

 .aside{
     /* border: 2px solid red; */
     width: 286px;
     height: 312px;
     position: absolute;
 }
 .aside ul li{
     color: white;
     list-style: none;
     line-height: 50px;
     font-size: large;
     margin-left: -2px;
 }
 .main-body{
     /* border: 2px solid yellow; */
     width: 495px;
     position: absolute;
     margin-left: 287px;
     display: flex;
     height: fit-content;
 }
 .place_holder{
     color: white;
     font-size: x-large;
     padding: 9px;
 }
 .footer{
     position: relative;
     margin-top: 320px;
     /* border: 2px solid black; */
     width: 286px;
     margin-left: -26px;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }
 .for_style{
    margin-right: 16px;
 }