.group_11{
    position: absolute;
    max-width: 100%;
    width: 24px;
    height: 24px;
    margin-left: 185px;
    margin-top: 92px;
}
.arrow_left{
    position: absolute;
    width: 24px;
    height: 24px;
    left: calc(50% - 24px/2 - 523px);
    top: calc(50% - 24px/2 - 762px);
}
.arrow_down{
    position: absolute;
    left: 100%;
    right: -100%;
    top: 0%;
    bottom: 0%;
    mix-blend-mode: normal;
    transform: rotate(90deg);
}
.path-3{
    position: absolute;
    left: 37.5%;
    right: 12.5%;
    top: 25%;
    bottom: 50%;
    border: 2px solid #0F1420;
    transform: rotate(90deg);
}
.path-2{
    position: absolute;
    left: 87.5%;
    right: 0%;
    top: 45.83%;
    bottom: -20.83%;
    border: 2px solid #0F1420;
    transform: rotate(90deg);
}
.text_one{
    position: absolute;
    width: 120px;
    height: 18px;
    margin-left: 217px;
    margin-top: 92px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #232427;
    
}
/* .app_div{
  background-color: #b5bdc5;
} */