@media (min-width: 768px){
.hRtYn {
    margin-left: auto;
    margin-right: auto;
}
}
@media (min-width: 768px){
.PlcwJ {
    width: 66.66667%;
    /* display: flex; */
    /* flex-direction: column; */
    height: 100px;
    /* justify-content: space-between;
    align-items: flex-start; */
}
.para_{
    margin-bottom: 5px;
}
.for_para{
    font-size: large;
    margin-top: 30px;
}
.for_sear{
    margin-top: 20px;
}
.para_3{
  margin-top:5px;
}
}

.Fu4vG {
    font-weight: 700;
    font-size: xxx-large;
}